
@model IEnumerable<Final_Project.Models.Bugnote>

@{
    ViewBag.Title = "Bug Notes";
}

<h2>Bug Notes</h2>

<p>
    <table class="table indent">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>Views</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.client)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.description)*@
                    @Html.Raw(item.description.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td>
                    @Html.Raw(item.resolution.Replace(Environment.NewLine, "<br/>"))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }
    </table>
</p>
<div class="indent">
    @Html.ActionLink("Create New", "Create")
</div>
