
@{
    ViewBag.Title = "Singlefiledownload";
}

<h2>You have sucessfully downloaded the file.</h2>

<h2>@ViewBag.Message2</h2>
<h2>@ViewBag.message4</h2>
<h2>@ViewBag.message3</h2>
<h2>@ViewBag.openserverfilebackstatus</h2>
<h2>@ViewBag.urlactn</h2>